In [13]:
import pandas as pd
from pprint import pprint

### Read in the data and take a look

In [4]:
# later I want to upload this to the git and read it in from there
sfbnb_df = pd.read_csv('/content/listings.csv')

In [5]:
sfbnb_df.head()

     id  ... reviews_per_month
0   958  ...              1.74
1  3850  ...              1.28
2  5858  ...              0.87
3  7918  ...              0.15
4  8142  ...              0.13

[5 rows x 106 columns]

In [9]:
sfbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8111 entries, 0 to 8110
Columns: 106 entries, id to reviews_per_month
dtypes: float64(24), int64(20), object(62)
memory usage: 6.6+ MB

In [10]:
sfbnb_df.shape

(8111, 106)

In [18]:
sfbnb_df.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,8.111000e+03,8.111000e+03,0.0,0.0,0.0,8.111000e+03,0.0,8103.000000,8103.000000,0.0,8111.000000,8111.000000,8111.000000,8099.000000,8107.000000,8102.000000,124.000000,8111.000000,8.111000e+03,8.111000e+03,8.111000e+03,8.111000e+03,8.111000e+03,8.111000e+03,8.111000e+03,8.111000e+03,8111.000000,8111.000000,8111.000000,8111.000000,8111.000000,8111.000000,6460.000000,6457.000000,6457.000000,6456.000000,6458.000000,6456.000000,6456.000000,8111.000000,8111.000000,8111.000000,8111.000000,6506.000000
mean,2.024561e+07,2.019100e+13,NaN,NaN,NaN,6.159690e+07,NaN,90.421079,90.421079,NaN,37.766054,-122.430107,3.160769,1.395975,1.345874,1.744754,1046.177419,1.718407,1.234526e+04,1.284597e+04,1.234509e+04,1.235125e+04,2.775902e+05,2.775928e+05,1.235001e+04,2.775923e+05,9.255825,22.885341,39.619529,159.278881,45.203181,13.712736,95.421517,9.752207,9.603686,9.847584,9.817745,9.682776,9.375155,22.329799,18.201085,2.910985,0.496979,1.873298
std,1.228565e+07,0.000000e+00,NaN,NaN,NaN,8.017417e+07,NaN,324.526784,324.526784,NaN,0.022937,0.026967,1.896988,0.923213,0.925298,1.158799,827.297727,1.334492,1.110357e+06,1.110352e+06,1.110357e+06,1.110357e+06,2.387044e+07,2.387044e+07,1.110357e+06,2.387044e+07,10.586687,21.459500,32.125850,134.093744,78.437987,22.523539,7.571031,0.732872,0.839768,0.593539,0.659274,0.715906,0.879174,54.369225,53.333669,6.807334,2.669129,2.096730
min,9.580000e+02,2.019100e+13,NaN,NaN,NaN,2.800000e+01,NaN,0.000000,0.000000,NaN,37.704630,-122.513060,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,8.905668e+06,2.019100e+13,NaN,NaN,NaN,4.386571e+06,NaN,1.000000,1.000000,NaN,37.751450,-122.442830,2.000000,1.000000,1.000000,1.000000,500.000000,1.000000,2.000000e+00,2.900000e+01,2.000000e+00,2.000000e+00,2.900000e+01,2.900000e+01,2.000000e+00,2.900000e+01,0.000000,0.000000,6.000000,28.000000,1.000000,0.000000,95.000000,10.000000,9.000000,10.000000,10.000000,10.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.300000
50%,2.161057e+07,2.019100e+13,NaN,NaN,NaN,2.178983e+07,NaN,2.000000,2.000000,NaN,37.769150,-122.424650,2.000000,1.000000,1.000000,1.000000,851.000000,1.000000,4.000000e+00,1.800000e+02,4.000000e+00,5.000000e+00,1.800000e+02,1.800000e+02,4.000000e+00,1.800000e+02,5.000000,19.000000,38.000000,133.000000,10.000000,2.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,1.000000,0.000000,0.000000,1.010000
75%,3.120025e+07,2.019100e+13,NaN,NaN,NaN,1.000763e+08,NaN,12.000000,12.000000,NaN,37.785670,-122.410615,4.000000,1.500000,2.000000,2.000000,1492.500000,2.000000,3.000000e+01,1.125000e+03,3.000000e+01,3.000000e+01,1.125000e+03,1.125000e+03,3.000000e+01,1.125000e+03,17.000000,42.000000,69.500000,300.000000,54.000000,18.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,2.000000,0.000000,2.840000
max,3.935418e+07,2.019100e+13,NaN,NaN,NaN,3.016759e+08,NaN,1735.000000,1735.000000,NaN,37.828790,-122.368570,16.000000,14.000000,14.000000,14.000000,5500.000000,16.000000,1.000000e+08,1.000000e+08,1.000000e+08,1.000000e+08,2.147484e+09,2.147484e+09,1.000000e+08,2.147484e+09,30.000000,60.000000,90.000000,365.000000,757.000000,258.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,248.000000,248.000000,39.000000,26.000000,21.190000

In [23]:
pd.set_option('max_columns', None)
pd.set_option("max_rows", None)
pd.set_option("max_seq_item", None)

In [24]:
sfbnb_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'number_of_reviews_ltm', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

 ### looks like Price stuff is: 
 #### 'price', 'weekly_price', 'monthly_price'

 #### First Question:  Which to use as target?  
 #### Maybe check the amount of nulls.

In [32]:
# check to make sure each listing is unique
sfbnb_df["id"].nunique()

8111

In [25]:
sfbnb_df["price"].head(20)

0     $170.00
1      $99.00
2     $235.00
3      $65.00
4      $65.00
5     $875.00
6     $139.00
7     $135.00
8     $225.00
9     $120.00
10    $177.00
11    $194.00
12    $139.00
13     $85.00
14     $85.00
15     $79.00
16    $122.00
17    $215.00
18    $450.00
19    $107.00
Name: price, dtype: object

In [29]:
sfbnb_df["price"].isnull().sum()

0

In [26]:
sfbnb_df['weekly_price'].head(20)

0     $1,120.00
1            NaN
2     $1,600.00
3       $485.00
4       $490.00
5            NaN
6            NaN
7     $1,000.00
8     $1,540.00
9     $1,150.00
10           NaN
11           NaN
12           NaN
13      $630.00
14      $630.00
15           NaN
16    $1,600.00
17           NaN
18    $2,300.00
19           NaN
Name: weekly_price, dtype: object

In [30]:
sfbnb_df['weekly_price'].isnull().sum()

7042

In [27]:
sfbnb_df['monthly_price'].head(20)

0     $4,200.00
1            NaN
2     $5,500.00
3     $1,685.00
4     $1,685.00
5            NaN
6     $9,999.00
7     $4,000.00
8     $5,400.00
9     $2,875.00
10           NaN
11           NaN
12    $4,800.00
13    $1,995.00
14    $1,995.00
15           NaN
16    $4,600.00
17    $5,500.00
18    $6,600.00
19    $3,200.00
Name: monthly_price, dtype: object

In [31]:
sfbnb_df['monthly_price'].isnull().sum()

7067

### Ok based on the amount of nulls I can use the price and drop weekly and monthly.  They have too many nulls.

### Next Question:  Model!
#### 1. NLP Bad of Words type
#### 2. Vanilla Linear Rigression
#### 3. Some kinda fancy Regression Model
#### 4. ANN?? (only if we turn it into a classification problem which doesn't see to fit the requirements.)

In [ ]:
# For a bag of words model I would need to:

#### Model 2 - stuff we need; user variables.

In [33]:
sfbnb_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'number_of_reviews_ltm', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [34]:
sfbnb_df['experiences_offered'].head()

0    none
1    none
2    none
3    none
4    none
Name: experiences_offered, dtype: object